*{ 
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    color: white;
    height: 64px;
    border-radius: 5px;
    border: 0px;
    font-weight: 700px;
    font-size: 20px;
    padding: 18px 35px;
    background: #FD6E0A;
    margin-right: 30px;
}
.btn-secondary{
    color: #FD6E0A;
    height: 64px;
    border-radius: 5px;
    border: 2px solid #FD6E0A;
    font-weight: 700px;
    font-size: 20px;
    padding: 19px 50px;
    background-color: Transparent;

}
/*header & navigations styles */
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
/* Bannar styles */
.banner{
    margin-left: 200px;
    display: flex;
    align-items: center;
}

.banner-subtitle{
    font-weight: 600;
    font-size: 45px;

}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    white-space: nowrap;
    margin-bottom: 20px;

}
.banner-desc{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    margin-top: 130px;
}
/* about section */
.about{
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}

.section-title{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;

}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
}
.about-info-container{
    display: flex;
    justify-content: space-around;

}
.info-title{
    color: #757575;
    font-size: 20px;
     

}
.info-description{
    color: #474747;
    font-size: 20px;
    font-weight: 700;

}
/* What I do styles */
.i-do-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
    padding: 0 150px;

}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
    font-size: 16px;
}
/* Resume styles */
.resume{
    margin-bottom: 130px;
}
.resume-item{
    margin-bottom: 30px;
    margin-top: 30px;
}
.resume-content{
    display: flex;
    gap: 50px;
}
.resume .title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;

}
.resume .subtitle{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;

}
.resume .description{
    color: #757575;
    text-align: justify;

}
.resume-btn{
    text-align: center;
}
/* contract styles */
.contract{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}
.contract .section-title{
    text-align: left;
}
.contract input[type="text"],input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
.contract input{
    height: 64px;
}
.contract a{
    text-decoration: none;
}